.address {
  margin-top: 20px;
  font-style: inherit;
}

.address__item:not(:first-child) {
  margin-top: 9px;
}

.address__map {
  color: var(--primary-white-color);
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
}
