.auth-nav {
  display: none;

  @media screen and(min-width: 768px) {
    display: flex;
    align-items: center;
    margin-left: auto;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }

  @media screen and(min-width: 768px) and (max-width: 1199.98px) {
    display: block;
  }
}

.auth-nav__item {
  align-items: center;
  justify-content: center;
}

.auth-nav__item:first-child {
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}

.auth-nav__link {
  @media screen and (min-width: 768px) {
    display: block;
    margin-bottom: 10px;
  }

  @media screen and (min-width: 1200px) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0;

    transition: color var(--animation);
  }
}

.auth-nav__link:last-child {
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    margin-bottom: 0px;
  }
}

.auth-nav__link:hover,
.auth-nav__link:focus {
  color: var(--accent-color);
}

.auth-nav__icon {
  margin-right: 10px;
}
